.roomCard {
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin-left: 250px;
  margin-right: 250px;
  border-bottom: 1px black solid;
  padding-bottom: 40px;
  padding-top: 40px;
}

.imgroom img {
  height: 240px;
  margin-right: 50px;
}

.contents {
  padding: 0;
  width: 100%;
  border: 1px solid black;
}
